@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "twentyeightdays";
    font-weight: 400;
    src: url("../assets/fonts/28\ Days\ Later.ttf") format("truetype");
  }
}
@layer base {
  @font-face {
    font-family: "monterey";
    font-weight: 900;
    src: url("../assets/fonts/MontereyFLF-BoldItalic.ttf") format("truetype");
  }
}
